.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
  padding-bottom: 20px;
}

.login > img {
  width: 100%;
}

.login > a {
  padding: 20px;
  margin-top: -30px;
  background-color: #1db954;
  border-radius: 99px;
  color: #fff;
  font-weight: 600;
}
